<section class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link">
                    <i class="fas fa-home breadcrumbs__link-icon"></i>
                    <span class="breadcrumbs__link-txt">Home</span>
                </a>
            </li>
            <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link">Woman</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link">Jewelry</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link">Lorem ipsum dolor sit</a>
            </li>
        </ol>
    </div>
</section>
