<div class="filters js-sticky-content">
    <button class="button button_default button_bordered button_md filters__button js-filters-open">Filters</button>
    <div class="filters__content">
        <div class="hamburger-button hamburger-button_active js-filters-close">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="filters-box">
            <a href="" class="filters-box__clear-all filters-box__clear-all_visible">Очистить фильтры
                <i class="fas fa-sync filters-box__clear-all-icon"></i>
            </a>
            <div class="filters-box__block">
                <div class="filters-box__block-title js-filters-box__block">Цена<i
                        class="fas fa-angle-down filters-box__block-title-icon"></i></div>
                <ul class="filters-box__list js-filters-box__list">
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link filters-box__link_active">
                            По убыванию
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            По возрастанию
                        </a>
                    </li>
                </ul>
            </div>
            <div class="filters-box__block">
                <div class="filters-box__block-title js-filters-box__block">Цвет<i
                        class="fas fa-angle-down filters-box__block-title-icon"></i></div>
                <ul class="filters-box__list js-filters-box__list">
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            Розовый(25)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link filters-box__link_active">
                            Черный(2)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            Фиолетовый(47)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            красный(25)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            зеленый(2)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="filters-box__block">
                <div class="filters-box__block-title js-filters-box__block">Размер<i
                        class="fas fa-angle-down filters-box__block-title-icon"></i></div>
                <ul class="filters-box__list js-filters-box__list">
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            S(25)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            L(2)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            M(47)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            XL(25)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            XLL(2)
                        </a>
                    </li>
                </ul>
            </div>
            <div class="filters-box__block">
                <div class="filters-box__block-title js-filters-box__block">Материал<i
                        class="fas fa-angle-down filters-box__block-title-icon"></i></div>
                <ul class="filters-box__list js-filters-box__list">
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            Золото(15)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            Серебро(20)
                        </a>
                    </li>
                    <li class="filters-box__item">
                        <a href="" class="filters-box__link">
                            Алюминий :)(69)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>