<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__menu">
                <ul class="footer-nav footer__nav">
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">Про нас</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">Доставка</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">Користувацька угода</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">Контакти</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">Повернення</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">Конфіденційність</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">Опалата</a>
                    </li>
                </ul>
                <p class="footer__additional-info">© 2017 Audemars Piguet, Le Brassus Privacy Policy | Terms of use</p>
            </div>
            <div class="footer__buttons-group">
                <div class="footer__contact-us">
                    <a href="" class="button button_transparent button_md">contact us</a>
                </div>
                <ul class="footer-social footer__social">
                    <li class="footer-social__item">
                        <a href="" class="footer-social__link">
                            <i class="fab fa-vk footer-social__icon"></i>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="" class="footer-social__link">
                            <i class="fab fa-instagram footer-social__icon"></i>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="" class="footer-social__link">
                            <i class="fab fa-facebook-f footer-social__icon"></i>
                        </a>
                    </li>
                    <li class="footer-social__item">
                        <a href="" class="footer-social__link">
                            <i class="fab fa-twitter footer-social__icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<button class="to-up trigger js-to-up"></button>

</body>
</html>

