<form action="" class="form-contact" method="post" id="form-contact">
    <label class="form-contact__input-title">First Name*:
        <input type="text" class="form-contact__input" name="first-name" required>
    </label>

    <label class="form-contact__input-title">Last Name*:
        <input type="text" class="form-contact__input" name="last-name" required>
    </label>

    <label class="form-contact__input-title">Country:</label>
        <select class="form-contact__select-default js-select-change" name="country">
            <option>Пожалуйста, выберите страну:</option>
            <option>Англия</option>
            <option>Северная Ирландия</option>
            <option>Шотландия</option>
            <option>Уэльс</option>
        </select>

    <label class="form-contact__input-title">Email Address*:
        <input type="email" class="form-contact__input" name="email" required>
    </label>

    <label class="form-contact__input-title">Message*:
        <textarea class="form-contact__input form-contact__input_message" name="message" form="form-contact"></textarea>
    </label>

    <input type="checkbox" class="form-contact__checkbox" id="checkbox_id" required>
    <label class="form-contact__input-title form-contact__checkbox-custom" for="checkbox_id">
        I have read and accepted Audemars Piguet’s Privacy Policy.*
    </label>

    <div class="form-contact__send-block">
        <div class="form-contact__required-txt">* Denotes required field</div>
        <button class="button button_default button_bordered button_md js-form-button" type="submit">Отправить</button>
    </div>
</form>