<div class="transition-loader transition-loader_active js-loader">
    <div class="transition-loader__inner">
        <label><i class="fas fa-circle"></i></label>
        <label><i class="fas fa-circle"></i></label>
        <label><i class="fas fa-circle"></i></label>
        <label><i class="fas fa-circle"></i></label>
        <label><i class="fas fa-circle"></i></label>
        <label><i class="fas fa-circle"></i></label>
    </div>
</div>
