<section class="main-banner">
    <img src="" alt="" class="main-banner__img js-banner-img" data-img-xs="images/main-img-xs.jpg" data-img-pc="images/main-img-pc.jpg">
    <div class="main-banner__content text-center">
        <div class="main-banner__txt-container">
            <span class="main-banner__title">THIS IS ADAMAND</span>
        </div>
        <div class="main-banner__txt-container">
            <span class="main-banner__description"> Your fashion and style destination</span>
        </div>
        <div class="main-banner__buttons">
            <a href="" class="button button_default button_sm main-banner__link">shop women</a>
            <a href="" class="button button_default button_sm main-banner__link">shop men</a>
        </div>
    </div>
</section>