<div class="moment-card text-center">
    <a href="/catalog.html" class="moment-card__img-wrapper">
        <img src="images/moment-card.jpg" alt="" class="moment-card__img">
    </a>
    <div class="moment-card__content">
        <h3 class="moment-card__title">TREND: TEA DRESSES</h3>
        <p class="moment-card__description">Fancy florals, fresh styling</p>
        <a href="/catalog.html" class="button button_default button_bordered button_md">Shop now</a>
    </div>
</div>