<ul class="pagination">
    <li class="pagination__item">
        <a class=" pagination__link" href="/uk/women/uvelirnue-izdeliya-kolca/page/2" data-page="2"><i class="fas fa-arrow-left"></i></a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="/uk/women/uvelirnue-izdeliya-kolca" data-page="1">1</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link" href="/uk/women/uvelirnue-izdeliya-kolca/page/2" data-page="2">2</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link pagination__link_current" href="">3</a>
    </li>
    <li class="pagination__item">
        <a class="pagination__link pagination__link_inactive" href=""><i class="fas fa-arrow-right"></i></i></a>
    </li>
</ul>