<div class="popup">
    <button class="popup__close js-popup-close"><i class="fas fa-times popup__close-icon"></i></button>
    <div class="popup__content">
        Привет Дима! Тут будет сообщение об ошибке или удачной отправке формы.
    </div>
</div>