<div class="product-gallery">
    <div class="owl-carousel product-gallery-carousel js-product-gallery-carousel">
        <img src="images/product-card.jpg" alt="" class="product-gallery-carousel__img">
        <img src="images/product-card.jpg" alt="" class="product-gallery-carousel__img">
        <img src="images/product-card.jpg" alt="" class="product-gallery-carousel__img">
        <img src="images/product-card.jpg" alt="" class="product-gallery-carousel__img">
        <img src="images/product-card.jpg" alt="" class="product-gallery-carousel__img">
    </div>
    <ul class="product-gallery-preview">
        <li class="product-gallery-preview__item js-product-gallery-preview">
            <img src="images/product-card.jpg" alt="" class="product-gallery-preview__img">
        </li>
        <li class="product-gallery-preview__item js-product-gallery-preview">
            <img src="images/product-card.jpg" alt="" class="product-gallery-preview__img">
        </li>
        <li class="product-gallery-preview__item js-product-gallery-preview">
            <img src="images/product-card.jpg" alt="" class="product-gallery-preview__img">
        </li>
        <li class="product-gallery-preview__item js-product-gallery-preview">
            <img src="images/product-card.jpg" alt="" class="product-gallery-preview__img">
        </li>
        <li class="product-gallery-preview__item js-product-gallery-preview">
            <img src="images/product-card.jpg" alt="" class="product-gallery-preview__img">
        </li>
    </ul>
</div>