<div class="product-card">
    <a href="product.html" class="product-card__img-wrapper">
        <img src="images/22.jpg" alt="" class="product-card__img">
    </a>
    <div class="product-card__description text-center">
        <a href="" class="product-card__brand">Chatelai</a>
        <a href="product.html" class="product-card__title">An amazing gift for a romantic girl. A gentle diamond, laid
            in a cast in the form of a flower, brightens its beautiful youth with its brilliance. A thin white gold
            ribbon will carefully emphasize the beauty and youth of the young lady. The elegance of the lines embodied
            in itself the chastity and innocence, purity and light of spring.</a>
        <div class="product-card__price">
            <span class="product-card__price-value product-card__price-value_current"><span
                    class="product-card__currency">$</span>450</span>
            <span class="product-card__price-value product-card__price-value_old"><span
                    class="product-card__currency">$</span>550</span>
        </div>
    </div>
</div>