<section class="public-banner">
    <a href="#" class="public-banner__link">
        <img src="" alt="" class="public-banner__img js-banner-img" data-img-xs="images/public-banner-xs.jpg"
             data-img-pc="images/public-banner-pc.jpg">
    </a>
</section>