<section class="public-slider">
    <div class="owl-carousel public-slider__wrapper js-public-slider">
        <a class="public-slider__item">
            <img src="images/main-img-pc.jpg" alt="" class="public-slider__img">
        </a>
        <a class="public-slider__item">
            <img src="images/ban.jpg" alt="" class="public-slider__img">
        </a>
    </div>
</section>