.contacts{
  padding: 30px 0;

  @include from-sm{
    padding: 30px 50px;
  }

  @include from-md{
    padding: 30px 0;
  }
}

.contacts-info{
  padding: 20px;
  background-color: $grayLighter;
  margin-bottom: 30px;
  margin-top: 7px;
  border-radius: 5px;
  box-shadow: 0 0 5px $grayDark;

  @include from-xs{
    padding: 50px;
  }

  &__title{
    margin-bottom: 15px;
  }

  &__link{
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s;

    &:hover{
      color: $black;
      transition: all 0.3s;
    }
  }

  &__timetable{

  }

  &__timetable-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__timetable-title{
    display: inline-block;
  }

  &__timetable-value{
    display: inline-block;
  }
}

.contacts-popup{
  display: none;
}