.information{
  padding: 30px 0;
  background-color: $backColor;

  &__list{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 5px $grayDark;
    font-weight: 700;
    padding: 10px 20px;
    color: $black;
    margin-top: 5px;

    @include from-md{
      text-align: left;
    }
  }

  &__item{
    padding: 5px 0;
    text-transform: uppercase;
  }

  &__link{
    @include hover-item{
      left: 50%;
    }

    @include hover-item($type: 'after'){
      right: 50%;
    }

    display: inline-block;
    position: relative;
  }

  &__link_active {
    @include hover-item($width: 50%, $opacity: 1) {
      left: 50%;
    }
    @include hover-item($type: 'after', $width: 50%, $opacity: 1) {
      right: 50%;
    }
  }

  &__title{
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__content{
    box-shadow: 0 0 5px $grayDark;
    padding: 30px;
    margin-top: 5px;
  }

  &__text{
    @include from-sm{
      text-align: justify;
    }
  }
}