.order-final {
  &__box {
    padding: 50px 0;
    text-align: center;

    @include from-sm {
      padding: 50px 10%;
    }

    @include from-md {
      padding: 60px 15%;
    }

    @include from-lg {
      padding: 70px 20%;
    }
  }

  &__head {
    font-size: 24px;
    margin-bottom: 30px;

    span {
      font-weight: bold;
      color: $grayDarker;
    }
  }

  &__info-txt {
    margin-bottom: 40px;

    @include from-lg {
      margin-bottom: 60px;
    }

    p {
      margin-bottom: 5px;
    }

    a {
      color: $grayDarker;
      text-decoration-line: underline;
    }
  }

  &__info-list {
    margin: 0 auto 40px;

    @include from-lg {
      margin-bottom: 60px;
    }
  }

  &__info-item {
    text-align: left;
    font-size: 18px;
    color: $grayDarker;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

    @include from-xs {
      flex-direction: row;
      align-items: flex-start;
    }

    span {
      margin-right: 15px;
      width: 250px;
      min-width: 250px;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__info-add {
    margin-bottom: 40px;
    text-align: left;

    span{
      font-weight: bold;
    }

    @include from-sm {
      margin-bottom: 50px;
    }

    @include from-md {
      margin-bottom: 60px;
    }
  }
}