.order-page {
  padding: 50px 0;

  @include from-sm {
    padding: 50px 10%;
  }

  @include from-md {
    padding: 50px 0;
  }

  &__product {
    padding: 25px;
    box-shadow: 0 0 5px $grayDark;
    border-radius: 5px;
    background-color: $grayLighter;
    margin-bottom: 40px;
  }

  &__product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include from-xs{
      flex-direction: row;
    }
  }

  &__product-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include from-xs{
      max-width: 80%;
      flex-direction: row;
    }
  }

  &__product-title {
    font-size: 14px;
    color: $black;

    @include from-xs{
      margin-right: 20px;
    }
  }

  &__product-img {
    height: 100px;

    @include from-xs{
      margin-right: 20px;
    }
  }

  &__product-price {
    color: $black;
  }

  &__total-price {
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray;
    padding: 20px 0 0;
    font-weight: bold;
  }

  &__total-value {
    font-size: 18px;
  }
}

.order-form {
  &__block {
    margin-bottom: 30px;
  }

  &__block-title {
    margin-bottom: 10px;
    font-weight: 700;
    color: $black
  }

  &__input-box {
    display: flex;
    flex-direction: column;

    @include from-xs {
      flex-direction: row;
    }

    .order-form__input {
      &:first-child {
        margin-right: 15px;
      }
    }
  }

  &__input {
    font-family: inherit;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #727272;
    flex: 1 1 auto;
    width: 100%;
  }

  &__select {
    font-family: inherit;
    border: 1px solid #727272;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/colourSelectArrow.png) right 12px center no-repeat #fff;
  }

  &__radio{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    display: block;
    margin-bottom: 10px;

    @include from-xs{
      margin-right: 20px;
      display: inline-block;
    }

    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $grayLight;
      border: 0.03rem solid $gray;
    }

    &::before{
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      opacity: 0;
      z-index: 10;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $grayDarker;
      transition: all .4s;
    }
  }

  &__radio-default{
    display: none;

    &:checked+label{
      &::before{
        opacity: 1;
        left: 6px;
        cursor: pointer;
        transition: all .4s;
      }
    }
  }

  &__submit{
    text-align: center;

    @include from-xs{
      text-align: left;
    }

    button{
      padding: 15px;
      font-family: inherit;
    }
  }

  input[name='type']{
    display: none;
  }
}