.page-404{
  padding: 50px 0;

  &__title{
    font-size: 7rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: $grayDarker;

    @include from-xs{
      font-size: 10rem;
    }

    @include from-sm{
      font-size: 18rem;
    }
  }

  &__description{
    text-align: center;
    font-size: 18px;
    line-height: 1.15;
    padding: 0 5%;
    margin-bottom: 40px;

    @include from-xs{
      padding: 0 15%;
    }
  }

  &__link{
    text-align: center;
  }
}