.product{
  margin: 30px 0;

  &__main-info{
    margin-bottom: 15px;
  }

  &__gallery {
    margin-bottom: 30px;
  }

  &__description{
    @include from-md{
     margin-left: 40px;
    }
  }

  &__title{
    margin-bottom: 30px;
  }

  &__short-description{
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 300;
  }

  &__price{
    margin-bottom: 30px;
  }

  &__price-value {
    display: inline-block;

    &_current {
      color: $black;
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 2px;
    }

    &_old {
      text-decoration-line: line-through;
      margin-left: 10px;
      color: $grayDark;
      font-size: 20px;
    }
  }

  &__size{
    margin-bottom: 30px;
  }

  &__buy{
    margin-bottom: 30px;
    text-align: center;

    @include from-sm{
      text-align: left;
    }
  }
}

.product-select{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background: $white url(../images/colourSelectArrow.png) no-repeat right 12px center;
  padding: 7px 10% 7px 8px;
  color: $black;
  border: solid 2px $grayDarker;
  outline: none;
  width: 250px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

  @include from-sm{
    margin: 0;
  }

  &__item{

  }
}

.product-share{
  display: flex;
  align-items: center;
  justify-content: center;

  @include from-sm{
    justify-content: flex-start;
  }

  &__title{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
  }

  &__buttons{

  }

  &__item{
    display: inline-block;
    margin: 1px;

    @include from-xs{
      margin: 5px;
    }
  }

  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0.1rem solid $grayDark;
    border-radius: 50%;
    transition: all 0.5s;

    &:hover{
      background-color: $grayDark;
      color: $white;
      transition: all 0.5s;
    }
  }
}

.product-properties{
  margin-bottom: 30px;

  &__title{
    margin-bottom: 15px;
  }

  &__table{
    width: 100%;
  }

  &__table-box{
    width: 100%;
  }

  &__table-row{
    margin: 10px 0;
  }

  &__table-col{
    font-size: 18px;
    padding: 5px 0;

    &:first-child{
      font-weight: 700;
      font-size: 20px;
    }
  }
}

.product-services{
  &__title{
    margin-bottom: 30px;
  }

  &__description{
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 300;
  }

  &__link{
    display: block;
    text-align: center;
    margin-bottom: 10px;

    @include from-md{
      text-align: left;
    }
  }
}