.search-result {
  margin: 30px 0;

  &__description{
    text-align: center;
    margin: 70px 0;
    color: $gray;
  }

  &__title{
    padding-bottom: 10px;
    margin: 40px 0;
    font-size: 1.4rem;
    line-height: 1.1;
    color: $grayDarker;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid red;
  }

  &__not-found {
    font-size: 24px;
    text-align: center;
    padding: 100px 20px;

    @include from-sm{
      font-size: 30px;
      padding: 200px 100px;
    }
  }
}