$brand: #8bc443;
$brandLight: #8bd928;
$brandDark: #558142;

$navyLight: #3749fd;
$navy: #0c1e53;
$navyMedium: #032745;
$navyDark: #030d26;
$navyBlack: #000e20;

$black: #000000;
$grayDarker: #303030;
$grayDark: #727272;
$gray: #c3c3c3;
$grayLight: #eeeeee;
$grayLighter: #eff1f4;
$white: #ffffff;

$headerColor: #2d2d2d;
$navColor: #525050;


$backColor: #f2f7f9;