/* Main layout */
$columns_gutter: 15px;

$container-lg: 1200px;

$min-break-xs: 576px;
$min-break-sm: 768px;
$min-break-md: 992px;
$min-break-lg: 1200px;

$max-break-xxs: $min-break-xs - 1;
$max-break-xs: $min-break-sm - 1;
$max-break-sm: $min-break-md - 1;
$max-break-md: $min-break-lg - 1;

$layout: (
  'xs': ($min-break-xs $max-break-xs),
  'sm': ($min-break-sm $max-break-sm),
  'md': ($min-break-md $max-break-md),
  'lg': ($min-break-lg)
);
