.text-center {
  text-align: center;
}

.flex-center-x{
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.trigger {
  cursor: pointer;
}

%link-active {
  text-decoration-line: underline;
}

.nopadding{
  padding: 0;
}

.fixed{
  position: fixed;
}

.relative{
  position: relative;
}

.hidden{
  overflow: hidden;
}
