%button-reset {
  outline: none;
  background: none;
  border: none;
  position: relative;
}

.button {
  @extend %button-reset;
  text-align: center;
  text-transform: uppercase;
  max-height: 60px;
  overflow: hidden;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}

.button_bordered {
  border: 2px solid $black;
}

.button_bordered-white {
  border: 2px solid $black;
}

.button_default {
  color: $black;
  background-color: $white;
  transition: all 0.3s;

  &:hover {
    color: $white;
    background-color: $black;
    transition: all 0.3s;
  }
}

.button_transparent{
  border: 2px solid $white;
  color: $white;
  background-color: transparent;
  transition: all 0.3s;

  &:hover {
    color: $black;
    background-color: $white;
    transition: all 0.3s;
  }
}

.button_buy{
  color: $white;
  background-color: #339554;
  line-height: 1.4;
  transition: all 0.3s;

  &:hover {
    background-color: #278949;
    transition: all 0.3s;
  }
}

.button_sm{
  padding: 10px 20px;
  min-width: 160px;
  max-width: 300px;
}

.button_md{
  padding: 10px;
  width: 250px;
}

.hamburger-button {
  $size: 35px;
  min-width: $size;
  width: $size;
  height: $size+5px;
  position: relative;
  cursor: pointer;

  @include from-md{
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 80%;
    background: $white;
    opacity: 1;
    left: 0;
  }

  span:first-child {
    top: 10px;
  }

  span:nth-child(2) {
    top: 18px;
  }

  span:nth-child(3) {
    top: 26px;
  }
}

.hamburger-button_active {
  $size: 50px;
  position: absolute;
  top: 0;
  height: $size;
  width: $size;
  left: 100%;
  background-color: $black;

  span:first-child {
    height: 0;
  }

  span:nth-child(2) {
    transform: rotate(45deg);
  }

  span:nth-child(3) {
    transform: rotate(-45deg);
  }

  span:nth-child(2), span:nth-child(3){
    top: 25px;
    left: 7px;
    height: 2px;
    background: white;
  }
}

.to-up{
  @extend %button-reset;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba($grayDark, 0.8);
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: $white;
  display: flex;
  justify-content: center;

  &:after{
    content: '';
    width: 20px;
    height: 20px;
    border-color: $white;
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    display: block;
    position: relative;
    bottom: -5px;
  }
}
