@font-face {
  font-family: 'MuseoSans';
  src: url('../../fonts/MuseoSansLight/MuseoSansLight.eot');
  src: url('../../fonts/MuseoSansLight/MuseoSansLight.eot#iefix'),
  url('../../fonts/MuseoSansLight/MuseoSansLight.eot') format('embedded-opentype'),
  url('../../fonts/MuseoSansLight/MuseoSansLight.ttf') format('truetype'),
  url('../../fonts/MuseoSansBlack/MuseoSansBlack.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../../fonts/MuseoSansRegular/MuseoSansRegular.eot');
  src: url('../../fonts/MuseoSansRegular/MuseoSansRegular.eot#iefix'),
  url('../../fonts/MuseoSansRegular/MuseoSansRegular.eot') format('embedded-opentype'),
  url('../../fonts/MuseoSansRegular/MuseoSansRegular.ttf') format('truetype'),
  url('../../fonts/MuseoSansRegular/MuseoSansRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../../fonts/MuseoSansBold/MuseoSansBold.eot');
  src: url('../../fonts/MuseoSansBold/MuseoSansBold.eot#iefix'),
  url('../../fonts/MuseoSansBold/MuseoSansBold.eot') format('embedded-opentype'),
  url('../../fonts/MuseoSansBold/MuseoSansBold.ttf') format('truetype'),
  url('../../fonts/MuseoSansBold/MuseoSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../../fonts/MuseoSansBlack/MuseoSansBlack.eot');
  src: url('../../fonts/MuseoSansBlack/MuseoSansBlack.eot#iefix'),
  url('../../fonts/MuseoSansBlack/MuseoSansBlack.eot') format('embedded-opentype'),
  url('../../fonts/MuseoSansBlack/MuseoSansBlack.ttf') format('truetype'),
  url('../../fonts/MuseoSansBlack/MuseoSansBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../../fonts/MuseoSansItalic/MuseoSansItalic.eot');
  src: url('../../fonts/MuseoSansItalic/MuseoSansItalic.eot#iefix'),
  url('../../fonts/MuseoSansItalic/MuseoSansItalic.eot') format('embedded-opentype'),
  url('../../fonts/MuseoSansItalic/MuseoSansItalic.ttf') format('truetype'),
  url('../../fonts/MuseoSansItalic/MuseoSansItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'adamand';
  src: url('../../fonts/FuturaPTBold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'adamand';
  src: url('../../fonts/FuturaPTMedium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'adamand';
  src: url('../../fonts/FuturaPTLight.otf');
  font-weight: 300;
}
