img {
  max-width: 100%;
  height: auto;
  display: block;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}



%sr-only,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.noscroll {
  overflow: hidden;
  position: static;
}

%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
