body {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 24px;
    color: $grayDark;
    padding-top: 50px;
    overflow-x: hidden;

    @include from-md{
        padding-top: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

b {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
    font-family: $mainFont;
    color: $black;
}

h1, h2, h3,
%h1, %h2, %h3{
    text-transform: uppercase;
    font-weight: 900;
}

h4, h5, h6,
%h4, %h5, %h6 {
    font-weight: 700;
}

h2, h3, h4, h5, h6,
%h2, %h3, %h4, %h5, %h6 {
    letter-spacing: .04em;
}

h1, %h1 {
    font-size: 60px;
    line-height: 64px;

}

h2, %h2 {
    font-size: 42px;
    line-height: 46px;
}


h3, %h3 {
    font-size: 30px;
    line-height: 34px;

}

h4, %h4 {
    font-size: 24px;
    line-height: 28px;
}

h5, %h5 {
    font-size: 22px;
    line-height: 26px;
}

p{
    font-size: 18px;
    line-height: 22px;

    @include from-sm{
        font-size: 16px;
        line-height: 20px;
    }
}

input, textarea{
    box-sizing: border-box;
}
