.breadcrumbs{
  padding: 15px 0;
  box-shadow: 0 0 5px $gray;
  background-color: $grayLighter;
  color: $black;

  &__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item{
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    font-weight: 700;
    overflow: hidden;

    &:not(:first-child):before {
      content: "\203A";
      display: inline-block;
      padding: 0 6px;

      @include from-xs{
        padding: 0 14px;
      }
    }

    &:last-child .breadcrumbs__link{
      pointer-events: none;
      font-weight: 300;
    }

    &:first-child{
      @include to-xs{
        .breadcrumbs__link-txt{
          display: none;
        }
      }
    }
  }

  &__link{
    display: inline-block;
  }

  &__link-icon{
    min-width: 25px;
    display: inline-block;
    transition: all 0.3s;
  }
}