.filters{
  &__button{
    display: block;
    margin: 0 auto 30px auto;

    @include from-md{
      display: none;
    }
  }

  &__content{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    transform: translateX(-120%);
    background-color: $white;
    z-index: 999;
    transition: all 0.5s;

    @include from-md{
      z-index: 0;
      position: relative;
      width: 100%;
      transform: translateX(0);
      transition: all 0.5s;
    }

    &_active{
      transform: translateX(0);
      width: 270px;
      transition: all 0.5s;

      @include from-xs{
        width: 320px;
      }
    }
  }
}

.filters-box{
  padding: 5px 15px 0;
  margin: 5px;
  border-radius: 7px;

  @include from-md{
    box-shadow: 0 0 5px $grayDark;
  }

  &__clear-all{
    display: none;
    padding: 4px 0;
    border-bottom: 1px solid $gray;

    &_visible{
      display: block;
      margin-bottom: 15px;
    }
  }

  &__clear-all-icon{
    margin-left: 10px;
  }

  &__block{
    padding-left: 5px;

    &:not(:last-child){
      border-bottom: 1px solid $gray;
    }
  }

  &__block-title{
    position: relative;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black;
  }

  &__block-title-icon{
    font-size: 12px;
    transition: transform 0.3s;
  }

  &__list{
    padding-bottom: 8px;
  }

  &__link{
    @include hover-item{
      left: 50%;
    }

    @include hover-item($type: 'after'){
      right: 50%;
    }

    display: inline-block;
    padding: 3px 0;
    position: relative;
  }

  &__link_active{
    @include hover-item($width: 50%, $opacity: 1){
      left: 50%;
    }
    @include hover-item($type: 'after', $width: 50%, $opacity: 1){
      right: 50%;
    }

    font-weight: 700;
  }
}