.footer {
  background-color: $headerColor;
  padding: 40px 0;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @include from-md {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__menu {
    color: $white;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__buttons-group {
    @include to-md {
      margin-bottom: 40px;
    }
  }

  &__contact-us {
    margin-bottom: 20px;
    text-align: center;
  }

  &__additional-info {
    text-align: center;

    @include from-md {
      text-align: left;
    }
  }
}

.footer-nav {
  text-align: center;

  @include from-md {
    text-align: left;
  }

  &__item {
    display: block;

    @include from-sm {
      display: inline-block;
      padding: 10px;
      margin-bottom: 10px;
      position: relative;

      &:not(:last-child):after{
        content: '|';
        position: absolute;
        right: -7px;
        top: 10px;
        color: $grayDark;
      }

      &:first-child{
        padding-left: 0;
      }
    }
  }

  &__link {
    display: block;
    font-size: 18px;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all 0.3s;

    @include from-sm{
      font-size: 15px;
      padding: 0;
      text-transform: none;
    }

    &:hover {
      color: $white;
    }
  }
}

.footer-social {
  text-align: center;

  &__item {
    display: inline-block;
  }

  &__link {
    display: block;
    padding: 0 15px;
    font-size: 2rem;
    transition: all 0.3s;

    &:hover {
      color: $white;
    }
  }

  &__icon {}
}