.form-contact{
  &__input-title{
    display: block;
  }

  &__input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid $grayDark;
    font-family: inherit;

    &_message{
      height: 200px;
    }
  }

  &__send-block{
    text-align: center;

    @include from-xs{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__required-txt{
    margin-bottom: 30px;
    text-align: left;
    padding-right: 15px;

    @include from-xs{
      margin: 0;
    }
  }

  &__loader{
    position: relative;
    background-color: $white!important;
    color: $black!important;
    opacity: 0.5;

    &::after{
      content: url("../images/loader.gif");
      position: absolute;
      right: 15px;
    }
  }

  &__checkbox-custom{
    position: relative;
    padding: 20px 0 20px 50px;
    cursor: pointer;

    @include from-xs{
      margin-bottom: 20px;
    }

    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 15px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: $grayLight;
      border: 0.03rem solid $gray;
    }

    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 14px;
      border: 2px solid $black;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      top: 25px;
      left: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 10;
      transition: all .4s;
    }
  }

  &__checkbox{
    position: absolute;
    opacity: 0;

    &:checked+label{
        &::before{
          opacity: 1;
          left: 16px;
          cursor: pointer;
          transition: all .4s;
        }
    }
  }

  &__select-default{
    width: 100%;
    display: block;
    border: 1px solid $grayDark;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    background: #fff url(../images/colourSelectArrow.png) no-repeat right 12px center;
    margin-bottom: 30px;
    padding: 10px;
    font-family: inherit;
  }
}