.header {
  background-color: $headerColor;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;

  @include from-md {
    position: relative;
  }
}

.header-top {
  display: flex;
  align-items: center;
  height: 50px;

  @include from-md {
    height: 60px;
  }

  &__logo {
    min-width: 115px;

    @include from-sm {
      margin-right: 10px;
      min-width: 130px;
    }

    @include from-md {
      margin-right: 30px;
      min-width: 150px;
    }
  }

  &__logo-img {
    max-height: 40px;

    @include from-md {
      max-height: 70px;
    }
  }

  &__genders {
    display: none;

    @include from-md {
      display: flex;
    }
  }

  &__form {
    width: 100%;
  }

  &__info {

  }
}

.header-top-genders {
  height: inherit;

  @include from-md {
    margin-right: 50px;
  }

  &__item {
    font-weight: 700;
    color: $white;
    width: 115px;
    text-align: center;
    line-height: 60px;
    border-right: 1px solid $navColor;

    &:first-child {
      border-left: 1px solid $navColor;
    }

    &:hover {
      background-color: $grayDark;
    }

    &_active {
      background-color: $navColor;

      &:hover {
        background-color: $navColor;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
  }
}

.form-search {
  display: flex;
  visibility: hidden;
  position: absolute;

  @include from-sm {
    position: relative;
    visibility: visible;
  }

  &__field {
    width: 100%;
  }

  &__input {
    $height: 40px;
    height: $height;
    width: 100%;
    padding: 0 45px 0 20px;
    border: none;
    border-radius: 20px/50%;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 1px 1px $navColor;
    }
  }

  &__submit {
    @extend %button-reset;
    $size: 40px;
    position: absolute;
    right: 20px;
    width: $size;
    height: $size;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    @include from-sm {
      right: 0;
    }
  }

  &__exit {
    &_active {
      $size: 40px;
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 10px;
      height: $size;
      width: $size;

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 70%;
        background: $black;
        top: 20px;
      }

      span:first-child {
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        transform: rotate(-45deg);
      }

    }
  }

  &_mobile {
    position: fixed;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grayLighter;
    padding: 60px 20px;
    z-index: 100;
  }
}

.header-top-info {
  display: flex;

  @include from-md {
    margin-left: 50px;
  }

  &__item {
    margin-left: 5px;

    @include from-xs {
      margin-left: 10px;
    }

    &:first-child {
      @include from-sm {
        display: none;
      }
    }
  }

  &__link {
    width: 30px;
    height: 30px;
    border: 0.1rem solid #83969f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $white;
      border-color: $white;
      transition: all 0.3s;
    }

    @include from-xs {
      width: 35px;
      height: 35px;
    }
  }
}

.main-menu {
  display: none;

  @include from-md {
    display: block;
    background-color: $navColor;
  }

  &__content {
    @include from-md {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }

  &__item {
    color: $white;
    font-size: 18px;
    font-weight: 700;
  }

  &__link {
    display: inline-block;
    padding: 10px 40px;
    position: relative;

    @include hover-item ($height: 4px, $color: red, $bottom: 0){
      left: 50%;
    }

    @include hover-item($type: 'after', $height: 4px, $color: red, $bottom: 0){
      right: 50%;
    }

    &_active {
      //@include active-category;
      @include hover-item ($height: 4px, $color: red, $bottom: 0, $width: 50%, $opacity: 1){
        left: 50%;
      }

      @include hover-item($type: 'after', $height: 4px, $color: red, $bottom: 0, $width: 50%, $opacity: 1){
        right: 50%;
      }
    }
  }
}

.mob-menu {
  z-index: 200;
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  color: $black;
  height: 100%;
  background-color: $white;
  transform: translateX(-380px);
  transition: transform 0.5s;

  &_active {
    transform: translateX(0);
    transition: transform 0.5s;
  }

  @include from-xs {
    width: 320px;
  }

  @include from-md {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: $white;
    height: 100%;
  }

  &__tabs {
    display: flex;
    height: 50px;
  }

  &__tabs-item {
    @extend %button-reset;
    width: 100%;
    background-color: $white;
    color: $gray;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid $gray;
    font-size: 1.1em;

    &:first-child {
      border-right: 1px solid $gray;
    }

    &_active {
      border-bottom-color: $black;
      color: $black;
    }
  }
}

.mob-menu-content {
  display: none;

  &_active {
    display: block;
  }

  &__link {
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    border-bottom: 0.1rem solid $gray;
    font-weight: 700;
  }
}

.dark-background {
  position: fixed;
  visibility: hidden;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  opacity: 0;
  background-color: rgba($black, .65);
  right: 0;

  &_active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease-in;
  }
}

.header-top-lang {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;

  &__list {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    text-align: center;
    display: none;
    border-radius: 5px;

    &_active {
      display: block;
    }
  }
  &__current {
    cursor: pointer;
  }

  &__item {
    background-color: $gray;
    margin-top: 2px;
    border-radius: 3px;
    color: $black;

    &:hover {
      background-color: #a9a2a2;
      color: $white;
    }
  }

  &__link {
    display: block;
    padding: 4px 0;
  }
}

.lang-currency{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 600;
  padding: 40px;
  background-color: $white;
  width: 90%;
  border-radius: 10px;
  border: 1px solid $black;
  color: $black;

  @include from-xs{
    width: 400px;
  }

  &__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__head-txt{
    font-size: 18px;
    text-transform: uppercase;
    padding-right: 15px;
    font-weight: 700;
  }

  &__close{
    cursor: pointer;
  }

  &__title{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__select{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border: 2px solid $grayDarker;
    margin-bottom: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    background: $white url(../images/colourSelectArrow.png) no-repeat right 12px center;
  }

  &__submit{
    display: block;
    width: 100%;
    min-height: 45px;
    font-size: 16px;
    background-color: $black;
    color: $white;
    transition: all 0.3s;

    &:hover{
      box-shadow: 0 0 10px $black;
    }
  }
}

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  position: fixed;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;

  @include from-md{
    position: absolute;
  }
}
.autocomplete-suggestion {
  position: relative;
  padding: 4px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: $grayDarker;
}
.autocomplete-suggestion b {
  font-weight: 700;
  color: $black;
}
.autocomplete-suggestion.selected {
  background: #f0f0f0;
  cursor: pointer;
}

