.main-banner {
  position: relative;
  display: block;

  &__img {
    width: 100%;
    object-fit: cover;
    height: 500px;

    @include from-sm {
      height: 700px
    }
  }

  &__content {
    position: absolute;
    //margin: 0 auto;
    //top: 25%;
    left: 0;
    right: 0;
    color: $black;
    line-height: 1.1;
    //display: block;

    @include to-xs{

    }
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include from-sm{
      //width: 80%;
      //top: 35%;
    }
  }

  &__txt-container{
    margin: 0 5px 35px;
  }

  &__title {
    line-height: 36px;
    font-size: 30px;
    background-color: $white;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-flex;
    padding: 10px 20px;

    @include from-sm{
      line-height: 62px;
      font-size: 55px;
    }
  }

  &__description {
    background-color: $white;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    line-height: 24px;
    padding: 10px 15px;

    @include from-sm{
      line-height: 30px;
      font-size: 26px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    @include from-sm{
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__link {
    margin-bottom: 30px;

    &:hover {
      color: $white;
      background-color: $black;
      transition: all 0.3s;
    }
  }
}