.moment-card {
  margin-bottom: 40px;

  @include from-xs{
    padding: 0 15px;
  }

  &__img-wrapper {
    display: block;
  }

  &__content{
    padding: 30px 10px 0;
  }

  &__img {
    width: 100%;
  }

  &__title {
    padding: 5px 0;
    color: $black;
    font-size: 26px;
  }

  &__description {
    color: $black;
    margin: 10px 0 20px;
  }

}