.pagination{
  margin-top: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__item{
    display: inline-block;
    margin: 0 3px;
  }

  &__link{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $grayLight;
    transition: all 0.3s;

    &:hover{
      background-color: $gray;
      color: $white;
      transition: all 0.3s;
    }

    &_current{
      background-color: red!important;
      color: $white;
      pointer-events: none;
    }

    &_inactive{
      background-color: $grayLight!important;
      pointer-events: none;
    }
  }
}