.popup{
  background-color: $white;
  padding: 25px;
  min-width: 300px;
  width: 300px;
  min-height: 200px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -150px;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  @include from-xs {
    min-width: 500px;
    width: 500px;
    min-height: 300px;
    padding: 50px;
    margin-left: -250px;
  }

  &__content{
    text-align: center;
    font-size: 16px;
  }

  &__close{
    position: absolute;
    top:0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    @extend %button-reset;
  }

  &__close-icon{
    color: $black;
    font-size: 26px;
  }
}