.product-card {
  margin: 5px 0 30px;
  padding: 15px;
  box-shadow: 0 0 5px $gray;
  border-radius: 7px;
  transition: all 0.5s;

  &:hover{
    box-shadow: 0 0 5px $grayDarker;
    transition: all 0.5s;
  }

  &__img-wrapper {
    display: block;
    margin-bottom: 20px;
  }

  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all 1s;
  }

  &__description {
    font-size: 18px;

    @include from-xs{
      font-size: 16px;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    font-weight: 700;
    height: 50px;
    overflow: hidden;
  }

  &__title {
    display: block;
    margin-bottom: 10px;
    height: 48px;
    overflow: hidden;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 3em;
      height: 22px;
      background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
    }
  }

  &__price {
    height: 25px;
    overflow: hidden;
  }

  &__price-value {
    display: inline-block;

    &_current {
      color: $black;
      font-weight: 600;
    }

    &_old {
      text-decoration-line: line-through;
      margin-left: 10px;
      color: $grayDark;
    }
  }
}