.product-gallery{

}

.product-gallery-carousel{
  margin-bottom: 10px;

  &__img{
    height: 400px;
    object-fit: contain;
  }
}

.product-gallery-preview{
  display: flex;

  &__item{
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid transparent;

    &:last-child{
      margin-right: 0;
    }
  }

  &__img{
    max-height: 150px;
  }
}