.public-slider {
  position: relative;

  &__wrapper {
    @include slider-navigation;
  }

  &__item {
    display: block;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    height: 300px;

    @include from-xs{
      height: 380px;
    }


    @include from-sm{
      height: 450px;
    }

    @include from-md{
      height: 550px;
    }
  }
}