@import '../variables/layout';
@import '../vendors/flexgrid';

@include generate-initial-flex-columns(12, $columns_gutter, 'xxs' 'xs' 'sm' 'md' 'lg');

@include generate-flex-columns(12, 'xxs');

.container {
  width: 100%;
}

@media (min-width: $min-break-xs) {
  @include generate-flex-columns(12, 'xs');
}

@media (min-width: $min-break-sm) {
  @include generate-flex-columns(12, 'sm');
}

@media (min-width: $min-break-md) {
  @include generate-flex-columns(12, 'md');
}

@media (min-width: $min-break-lg) {
  @include generate-flex-columns(12, 'lg');

  .container {
    width: $container-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin from-xs() {
  @media (min-width: $min-break-xs) {
    @content;
  }
}

@mixin from-sm() {
  @media (min-width: $min-break-sm) {
    @content;
  }
}

@mixin from-md() {
  @media (min-width: $min-break-md) {
    @content;
  }
}

@mixin from-lg() {
  @media (min-width: $min-break-lg) {
    @content;
  }
}

@mixin to-xs() {
  @media (max-width: $max-break-xxs) {
    @content;
  }
}

@mixin to-sm() {
  @media (max-width: $max-break-xs) {
    @content;
  }
}

@mixin to-md() {
  @media (max-width: $max-break-sm) {
    @content;
  }
}

@mixin to-lg() {
  @media (max-width: $max-break-md) {
    @content;
  }
}

@mixin only-xxs() {
  @include to-xs {
    @content;
  }
}

@mixin only-xs() {
  @include from-xs {
    @include to-sm {
      @content;
    }
  }
}

@mixin only-sm() {
  @include from-sm {
    @include to-md {
      @content;
    }
  }
}

@mixin only-md() {
  @include from-md {
    @include to-lg {
      @content;
    }
  }
}

@mixin only-lg() {
  @include from-lg {
    @content;
  }
}
