@mixin slider-navigation($color: $white, $size: 80px, $padding: 0) {
  &.owl-carousel {
    @content;

    .owl-nav {
      .owl-prev,
      .owl-next {
        @extend %button-reset;
        position: absolute;
        top: 50%;
        margin-top: -$size / 2;
        font-size: $size;
        color: $color;
      }

      .owl-prev {
        left: $padding;
      }

      .owl-next {
        right: $padding;
      }
    }
  }
}

@mixin slider-dots($color: $gray, $color-active: $navy, $dot-size: 15px) {
  &.owl-carousel {
    @content;

    .owl-dots {
      text-align: center;
      margin: 30px 0;

      .owl-dot {
        @extend %button-reset;
        display: inline-block;

        span {
          width: $dot-size;
          height: $dot-size;
          border-radius: 50%;
          margin: 15px;
          background: $color;
          display: block;
        }

        &.active,
        &:hover {
          span {
            background: $color-active;
          }
        }
      }
    }
  }
}

@mixin price-old($type: 'before', $color: $gray, $left: -15px) {
  position: relative;

  &::#{$type} {
    content: '';
    width: 100%;
    height: 2px;
    background: $color;
    position: absolute;
    bottom: 50%;
    left: $left;
    transform: rotate(-15deg);
    @content;
  }
}

@mixin hover-item($type: 'before', $width: 1px, $height: 0.1rem, $opacity: 0, $bottom: 3px, $color: $grayDark) {
  &::#{$type} {
    content: '';
    position: absolute;
    bottom: $bottom;
    width: $width;
    height: $height;
    background-color: $color;
    opacity: $opacity;
    transition: all 0.5s;
    @content;
  }

  &:hover::#{$type}{
    width: 50%;
    opacity: 1;
    transition: all 0.5s;
  }
}
