//= ../templates/header.html
//= ../templates/breadcrumbs.html
<section class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 js-sticky-box">
                //= ../templates/filters.html
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        //= ../templates/product-card.html
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        //= ../templates/product-card.html
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        //= ../templates/product-card.html
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        //= ../templates/product-card.html
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        //= ../templates/product-card.html
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        //= ../templates/product-card.html
                    </div>
                    //= ../templates/pagination.html
                </div>
            </div>
        </div>
    </div>
</section>
//= ../templates/footer.html