//= ../templates/header.html
//= ../templates/public-slider.html
<section class="moment-section">
    <div class="container">
        <div class="row flex-center-x">
            <div class="col-xs-12 col-sm-6 col-md-6">
                //= ../templates/moment-card.html
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                //= ../templates/moment-card.html
            </div>
        </div>
    </div>
</section>
//= ../templates/public-banner.html
//= ../templates/footer.html