//= ../templates/header.html
<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="contacts-info">
                    <h4 class="contacts-info__title">LOCAL CONTACT</h4>
                    <a href="tel:+44 20 7409 0782" class="contacts-info__link">+44 20 7409 0782</a>
                    <a href="mailto:info.europe@audemarspiguet.com" class="contacts-info__link">info.europe@audemarspiguet.com</a>
                    <ul class="contacts-info__timetable">
                        <li class="contacts-info__timetable-item">
                            <span class="contacts-info__timetable-title">Monday – Friday</span>
                            <span class="contacts-info__timetable-value">8am - 6pm</span>
                        </li>
                        <li class="contacts-info__timetable-item">
                            <span class="contacts-info__timetable-title">Saturday</span>
                            <span class="contacts-info__timetable-value">9am - 4pm</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                //= ../templates/form-contact.html
            </div>
        </div>
    </div>
</section>
<div class="contacts-popup js-popup-ok">
    //= ../templates/popup.html
</div>
<div class="contacts-popup js-popup-error">
    //= ../templates/popup.html
</div>


//= ../templates/footer.html