//= ../templates/header.html
<section class="information">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 js-sticky-box">
                <div class="js-sticky-content">
                    <ul class="information__list">
                        <li class="information__item">
                            <a href="" class="information__link information__link_active">ПРО НАС</a>
                        </li>
                        <li class="information__item">
                            <a href="" class="information__link">ДОСТАВКА</a>
                        </li>
                        <li class="information__item">
                            <a href="" class="information__link">КОРИСТУВАЦЬКА УГОДА</a>
                        </li>
                        <li class="information__item">
                            <a href="" class="information__link"> КОНТАКТИ</a>
                        </li>
                        <li class="information__item">
                            <a href="" class="information__link">ПОВЕРНЕННЯ</a>
                        </li>
                        <li class="information__item">
                            <a href="" class="information__link">КОНФІДЕНЦІЙНІСТЬ</a>
                        </li>
                        <li class="information__item">
                            <a href="" class="information__link">УМОВИ ВИКОРИСТАННЯ САЙТУ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="information__content">
                    <h4 class="information__title">Lorem ipsum dolor sit amet.</h4>
                    <p class="information__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                        alias architecto asperiores consequatur, culpa dignissimos eius fugiat iure labore nemo neque, odit
                        qui quibusdam quis repellendus tempora veritatis voluptatum. Dolores illum itaque laudantium
                        molestiae obcaecati odio officia optio velit voluptate voluptates! Eius mollitia odio quasi
                        recusandae rem! A ad architecto asperiores assumenda aut beatae debitis deleniti distinctio ex
                        excepturi exercitationem fugit ipsam ipsum, laboriosam laborum magnam modi molestiae nostrum numquam
                        odit officiis quaerat quidem tempora ullam vero. Animi commodi fugiat rerum sapiente sunt tempora,
                        totam! Accusantium commodi corporis enim nisi tempore. Consectetur dolore expedita, placeat quos
                        tempore velit vero voluptatum!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci autem deleniti hic
                        magnam nisi officia quas repellat suscipit. Animi ea impedit iste nam quaerat sit voluptatibus
                        voluptatum. Adipisci, aperiam commodi consectetur culpa dolorem ducimus, eligendi in laborum maxime,
                        quis sequi suscipit tenetur. Accusamus accusantium ad alias aperiam atque cupiditate, distinctio
                        doloremque eligendi eveniet ex expedita facilis, harum impedit labore magni optio perferendis
                        placeat quae quas quibusdam quis, ratione reiciendis rem suscipit vero. Eius fugiat incidunt iusto
                        molestias non porro quam quas quo quod similique? Ab alias distinctio id maiores minus natus odio
                        perspiciatis porro quibusdam quod soluta tenetur, vel, velit! Ab nulla repudiandae voluptatem.
                        Accusamus accusantium aliquid asperiores autem corporis cupiditate dicta doloremque doloribus
                        ducimus enim et exercitationem fuga ipsa ipsum itaque laudantium libero minima minus modi molestiae
                        nam necessitatibus nulla obcaecati omnis, pariatur perspiciatis praesentium quaerat quas quia
                        ratione reiciendis saepe sint soluta velit veritatis vero voluptates. Aliquam aliquid at aut
                        consequuntur dolores, doloribus dolorum ducimus earum eum illum ipsam ipsum itaque labore libero
                        maxime molestias odit porro quae repellendus rerum sed sint temporibus unde veniam voluptatum!
                        Cumque, impedit, sed. Animi cupiditate delectus impedit sunt voluptatum! Accusamus beatae iusto,
                        maxime necessitatibus neque pariatur quis quisquam quod voluptas.
                        alias architecto asperiores consequatur, culpa dignissimos eius fugiat iure labore nemo neque, odit
                        qui quibusdam quis repellendus tempora veritatis voluptatum. Dolores illum itaque laudantium
                        molestiae obcaecati odio officia optio velit voluptate voluptates! Eius mollitia odio quasi
                        recusandae rem! A ad architecto asperiores assumenda aut beatae debitis deleniti distinctio ex
                        excepturi exercitationem fugit ipsam ipsum, laboriosam laborum magnam modi molestiae nostrum numquam
                        odit officiis quaerat quidem tempora ullam vero. Animi commodi fugiat rerum sapiente sunt tempora,
                        totam! Accusantium commodi corporis enim nisi tempore. Consectetur dolore expedita, placeat quos
                        tempore velit vero voluptatum!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci autem deleniti hic
                        magnam nisi officia quas repellat suscipit. Animi ea impedit iste nam quaerat sit voluptatibus
                        voluptatum. Adipisci, aperiam commodi consectetur culpa dolorem ducimus, eligendi in laborum maxime,
                        quis sequi suscipit tenetur. Accusamus accusantium ad alias aperiam atque cupiditate, distinctio
                        doloremque eligendi eveniet ex expedita facilis, harum impedit labore magni optio perferendis
                        placeat quae quas quibusdam quis, ratione reiciendis rem suscipit vero. Eius fugiat incidunt iusto
                        molestias non porro quam quas quo quod similique? Ab alias distinctio id maiores minus natus odio
                        perspiciatis porro quibusdam quod soluta tenetur, vel, velit! Ab nulla repudiandae voluptatem.
                        Accusamus accusantium aliquid asperiores autem corporis cupiditate dicta doloremque doloribus
                        ducimus enim et exercitationem fuga ipsa ipsum itaque laudantium libero minima minus modi molestiae
                        nam necessitatibus nulla obcaecati omnis, pariatur perspiciatis praesentium quaerat quas quia
                        ratione reiciendis saepe sint soluta velit veritatis vero voluptates. Aliquam aliquid at aut
                        consequuntur dolores, doloribus dolorum ducimus earum eum illum ipsam ipsum itaque labore libero
                        maxime molestias odit porro quae repellendus rerum sed sint temporibus unde veniam voluptatum!
                        Cumque, impedit, sed. Animi cupiditate delectus impedit sunt voluptatum! Accusamus beatae iusto,
                        maxime necessitatibus neque pariatur quis quisquam quod voluptas.
                        alias architecto asperiores consequatur, culpa dignissimos eius fugiat iure labore nemo neque, odit
                        qui quibusdam quis repellendus tempora veritatis voluptatum. Dolores illum itaque laudantium
                        molestiae obcaecati odio officia optio velit voluptate voluptates! Eius mollitia odio quasi
                        recusandae rem! A ad architecto asperiores assumenda aut beatae debitis deleniti distinctio ex
                        excepturi exercitationem fugit ipsam ipsum, laboriosam laborum magnam modi molestiae nostrum numquam
                        odit officiis quaerat quidem tempora ullam vero. Animi commodi fugiat rerum sapiente sunt tempora,
                        totam! Accusantium commodi corporis enim nisi tempore. Consectetur dolore expedita, placeat quos
                        tempore velit vero voluptatum!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci autem deleniti hic
                        magnam nisi officia quas repellat suscipit. Animi ea impedit iste nam quaerat sit voluptatibus
                        voluptatum. Adipisci, aperiam commodi consectetur culpa dolorem ducimus, eligendi in laborum maxime,
                        quis sequi suscipit tenetur. Accusamus accusantium ad alias aperiam atque cupiditate, distinctio
                        doloremque eligendi eveniet ex expedita facilis, harum impedit labore magni optio perferendis
                        placeat quae quas quibusdam quis, ratione reiciendis rem suscipit vero. Eius fugiat incidunt iusto
                        molestias non porro quam quas quo quod similique? Ab alias distinctio id maiores minus natus odio
                        perspiciatis porro quibusdam quod soluta tenetur, vel, velit! Ab nulla repudiandae voluptatem.
                        Accusamus accusantium aliquid asperiores autem corporis cupiditate dicta doloremque doloribus
                        ducimus enim et exercitationem fuga ipsa ipsum itaque laudantium libero minima minus modi molestiae
                        nam necessitatibus nulla obcaecati omnis, pariatur perspiciatis praesentium quaerat quas quia
                        ratione reiciendis saepe sint soluta velit veritatis vero voluptates. Aliquam aliquid at aut
                        consequuntur dolores, doloribus dolorum ducimus earum eum illum ipsam ipsum itaque labore libero
                        maxime molestias odit porro quae repellendus rerum sed sint temporibus unde veniam voluptatum!
                        Cumque, impedit, sed. Animi cupiditate delectus impedit sunt voluptatum! Accusamus beatae iusto,
                        maxime necessitatibus neque pariatur quis quisquam quod voluptas.
                        alias architecto asperiores consequatur, culpa dignissimos eius fugiat iure labore nemo neque, odit
                        qui quibusdam quis repellendus tempora veritatis voluptatum. Dolores illum itaque laudantium
                        molestiae obcaecati odio officia optio velit voluptate voluptates! Eius mollitia odio quasi
                        recusandae rem! A ad architecto asperiores assumenda aut beatae debitis deleniti distinctio ex
                        excepturi exercitationem fugit ipsam ipsum, laboriosam laborum magnam modi molestiae nostrum numquam
                        odit officiis quaerat quidem tempora ullam vero. Animi commodi fugiat rerum sapiente sunt tempora,
                        totam! Accusantium commodi corporis enim nisi tempore. Consectetur dolore expedita, placeat quos
                        tempore velit vero voluptatum!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus adipisci autem deleniti hic
                        magnam nisi officia quas repellat suscipit. Animi ea impedit iste nam quaerat sit voluptatibus
                        voluptatum. Adipisci, aperiam commodi consectetur culpa dolorem ducimus, eligendi in laborum maxime,
                        quis sequi suscipit tenetur. Accusamus accusantium ad alias aperiam atque cupiditate, distinctio
                        doloremque eligendi eveniet ex expedita facilis, harum impedit labore magni optio perferendis
                        placeat quae quas quibusdam quis, ratione reiciendis rem suscipit vero. Eius fugiat incidunt iusto
                        molestias non porro quam quas quo quod similique? Ab alias distinctio id maiores minus natus odio
                        perspiciatis porro quibusdam quod soluta tenetur, vel, velit! Ab nulla repudiandae voluptatem.
                        Accusamus accusantium aliquid asperiores autem corporis cupiditate dicta doloremque doloribus
                        ducimus enim et exercitationem fuga ipsa ipsum itaque laudantium libero minima minus modi molestiae
                        nam necessitatibus nulla obcaecati omnis, pariatur perspiciatis praesentium quaerat quas quia
                        ratione reiciendis saepe sint soluta velit veritatis vero voluptates. Aliquam aliquid at aut
                        consequuntur dolores, doloribus dolorum ducimus earum eum illum ipsam ipsum itaque labore libero
                        maxime molestias odit porro quae repellendus rerum sed sint temporibus unde veniam voluptatum!
                        Cumque, impedit, sed. Animi cupiditate delectus impedit sunt voluptatum! Accusamus beatae iusto,
                        maxime necessitatibus neque pariatur quis quisquam quod voluptas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
//= ../templates/footer.html