//= ../templates/header.html
//= ../templates/breadcrumbs.html
<div class="order-final">
    <div class="container">
        <div class="order-final__box">
            <div class="order-final__head">Шановний, <span>Сковорода Ярослав</span>!</div>
            <div class="order-final__info-txt">
                <p>Ви успішно здійснили замовлення в магазині Adamsnt Store.</p>
                <p>На Вашу пошту <a href="mailto:test@gmail.com">test@gmail.com</a> ми відправили лист підтвердження з
                    повною інформацією про товар та деталі замовлення.</p>
            </div>

            <ul class="order-final__info-list">
                <li class="order-final__info-item"><span>Номер замовлення:</span> 123456</li>
                <li class="order-final__info-item"><span>Оплата:</span> сплачено / розрахунок при отриманні</li>
                <li class="order-final__info-item"><span>Адрес доставки:</span> 58 відділення Нова Пошта</li>
                <li class="order-final__info-item"><span>Телефон:</span> +380634389214</li>
            </ul>

            <div class="order-page__product">
                <div class="order-page__product-box">
                    <div class="order-page__product-info">
                        <img src="images/product.jpg" alt="" class="order-page__product-img">
                        <p class="order-page__product-title">Classic briefcase Apollo</p>
                    </div>
                    <span class="order-page__product-price">3,480
                            <span class="order-page__product-currency">грн</span>
                        </span>
                </div>
                <div class="order-page__total-price">
                    <span class="order-page__total-label">Сума:</span>
                    <span class="order-page__total-value">3,480
                            <span class="order-page__total-currency">грн</span>
                        </span>
                </div>
            </div>

            <div class="order-final__info-add">
                <p>Найблищим часом з Вами зв’яжеться наш менеджер для підтвердження інформації. <span>Приємних покупок!</span></p>
            </div>

            <a href="" class="button button_default button_bordered button_md">Продовжити покупки</a>
        </div>


    </div>
</div>
//= ../templates/footer.html