//= ../templates/header.html
<section class="order-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="order-page__product">
                    <div class="order-page__product-box">
                        <div class="order-page__product-info">
                            <img src="images/product.jpg" alt="" class="order-page__product-img">
                            <p class="order-page__product-title">Classic briefcase Apollo</p>
                        </div>
                        <span class="order-page__product-price">3,480
                            <span class="order-page__product-currency">грн</span>
                        </span>
                    </div>
                    <div class="order-page__total-price">
                        <span class="order-page__total-label">Сума:</span>
                        <span class="order-page__total-value">3,480
                            <span class="order-page__total-currency">грн</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="order-page__form">
                    <form action="" method="" class="order-form">
                        <div class="order-form__block">
                            <div class="order-form__block-title">1. Контактна інформація</div>
                            <div class="order-form__input-box">
                                <input class="order-form__input" type="text" placeholder="Імя" name="name" required>
                                <input class="order-form__input" type="text" placeholder="Прізвище" name="surname" required>
                            </div>
                            <input class="order-form__input" type="tel" name="phone" placeholder="Телефон" required>
                            <input class="order-form__input" type="email" name="email" placeholder="email" required>
                        </div>

                        <div class="order-form__block">
                            <div class="order-form__block-title">2. Спосіб доставки</div>
                            <select class="order-form__select" name="country" required>
                                <option>Пожалуйста, выберите страну:</option>
                                <option>Англия</option>
                                <option>Северная Ирландия</option>
                                <option>Шотландия</option>
                                <option>Уэльс</option>
                            </select>
                            <div class="order-form__input-box">
                                <input class="order-form__input" type="text" placeholder="Область" name="area" required>
                                <input class="order-form__input" type="text" placeholder="Місто" name="city" required>
                            </div>
                            <input class="order-form__input" type="text" name="address" placeholder="Адреса доставки (або відділення Нової Пошти для жителів України)" required>
                        </div>

                        <div class="order-form__block">
                            <div class="order-form__block-title">3. Спосіб оплати</div>
                            <input type="radio" name="order-type" id="radio-online-pay" class="order-form__radio-default" checked>
                            <label class="order-form__radio" for="radio-online-pay">Оплата онлайн</label>

                            <input type="radio" name="order-type" id="radio-offline-pay" class="order-form__radio-default">
                            <label class="order-form__radio" for="radio-offline-pay">Оплата накладеним платежем</label>
                        </div>

                        <input type="text" name="type" value="online">

                        <div class="order-form__submit">
                            <button class="button button_bordered button_md js-order-form-submit">Оформити замовлення</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="contacts-popup js-popup-ok">
    //= ../templates/popup.html
</div>
<div class="contacts-popup js-popup-error">
    //= ../templates/popup.html
</div>

//= ../templates/footer.html