//= ../templates/header.html
<section class="page-404">
    <div class="container">
        <h1 class="page-404__title">404</h1>
        <p class="page-404__description">К сожалению, такой страницы не существует. Вероятно она была удалена, либо её здесь
            никогда не было.</p>
        <div class="page-404__link">
            <a href="" class="button button_default button_bordered button_sm">На главную страницу</a>
        </div>
    </div>
</section>
//= ../templates/footer.html