//= ../templates/header.html
//= ../templates/breadcrumbs.html
<section class="product">
    <div class="container">
        <div class="product__main-info">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-6">
                    <div class="product__gallery">
                        //= ../templates/product-gallery.html
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-6">
                    <div class="product__description">
                        <h3 class="product__title">
                            Emporio Armani Muscle Fit Chest Logo T-Shirt In White
                        </h3>
                        <p class="product__short-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur, dolorum
                            exercitationem iusto maxime provident repellendus temporibus totam voluptate. Distinctio!
                        </p>
                        <div class="product__price">
                            <span class="product__price-value product__price-value_current"><span
                                    class="product__currency">$</span>450</span>
                            <span class="product__price-value product__price-value_old"><span class="product__currency">$</span>550</span>
                        </div>
                        <div class="product__size">
                            <select name="size" id="" class="product-select js-product-select">
                                <option value="https://www.google.com" class="product-select__item">M</option>
                                <option value="https://www.google.com" class="product-select__item">L</option>
                                <option value="https://www.google.com" class="product-select__item">S</option>
                                <option value="https://www.google.com" class="product-select__item">XL</option>
                            </select>
                        </div>
                        <div class="product__buy">
                            <a href="" class="button button_buy button_md js-buy-product">enquire</a>
                        </div>
                        <div class="product-share product__share">
                            <div class="product-share__title">Share:</div>
                            <ul class="product-share__buttons">
                                <li class="product-share__item">
                                    <a href="" class="product-share__link">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                </li>
                                <li class="product-share__item">
                                    <a href="" class="product-share__link">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="product-share__item">
                                    <a href="" class="product-share__link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product__additional-info">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="product-properties">
                        <h4 class="product-properties__title">Emporio Armani Muscle Fit Chest Logo T-Shirt In White</h4>
                        <table class="product-properties__table">
                            <tbody class="product-properties__table-box">
                            <tr class="product-properties__table-row">
                                <td class="product-properties__table-col">Код:</td>
                                <td class="product-properties__table-col">488</td>
                            </tr>
                            <tr class="product-properties__table-row">
                                <td class="product-properties__table-col">Цена:</td>
                                <td class="product-properties__table-col">9844грн</td>
                            </tr>
                            <tr class="product-properties__table-row">
                                <td class="product-properties__table-col">Стать:</td>
                                <td class="product-properties__table-col">чоловіча</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="product-services">
                        <h4 class="product-services__title">DELIVERY AND RETURNS</h4>
                        <p class="product-services__description">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Blanditiis, eligendi fugit iusto perferendis quae quas voluptatibus? Consectetur id
                            inventore molestiae!</p>
                        <div class="product-services__link">
                            <a href="" class="button button_default button_bordered button_md">delivery</a>
                        </div>
                        <div class="product-services__link">
                            <a href="" class="button button_default button_bordered button_md">return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
//= ../templates/footer.html