//= ../templates/header.html
<section class="search-result">
    <div class="container">
        <h4 class="search-result__description">Результаты поиска по запросу "браслеты"</h4>

        <div class="search-result__categories">
            <p class="search-result__title">Найденные категории</p>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4">
                    //= ../templates/product-card.html
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    //= ../templates/product-card.html
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                    //= ../templates/product-card.html
                </div>
            </div>
        </div>
        <div class="search-result__products">
            <p class="search-result__title">Найденные товары</p>
            <div class="row nopadding">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    //= ../templates/product-card.html
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    //= ../templates/product-card.html
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    //= ../templates/product-card.html
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    //= ../templates/product-card.html
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    //= ../templates/product-card.html
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    //= ../templates/product-card.html
                </div>
            </div>
        </div>

        <h3 class="search-result__not-found">
            К сожалению по Вашему запросу ничего не найдено
        </h3>
    </div>
</section>
//= ../templates/footer.html